@font-face {font-family: 'xr2_Raleway';font-weight:bold;font-style:normal;src: url("xara_font_1.woff?37") format("woff"), local('xr2_Raleway');}
@font-face {font-family: 'xr2_Raleway';font-weight:bold;font-style:normal;src: url("xara_font_2.woff?37") format("woff"), local('xr2_Raleway');}
@font-face {font-family: 'Raleway1';font-weight:normal;font-style:normal;src: url("xara_font_3.woff?37") format("woff"), local('Raleway1');}
@font-face {font-family: 'xr3_Noto Sans';font-weight:bold;font-style:normal;src: url("xara_font_4.woff?37") format("woff"), local('xr3_Noto Sans');}
