.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:11pt;text-decoration:none;text-transform: none;color:#000000;letter-spacing:0em;}
.Heading_1 {font-family:Arial;font-weight:bold;font-style:normal;font-size:14pt;text-decoration:none;text-transform: none;color:#000000;letter-spacing:0em;}
.Normal_text_a {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:12pt;text-decoration:none;text-transform: none;color:#000000;letter-spacing:0em;}
.Normal_text_b {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:14pt;text-decoration:none;text-transform: none;color:#444444;letter-spacing:0em;}
.Heading_1_a {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:36pt;text-decoration:none;text-transform: none;color:#444444;letter-spacing:0em;}
.Brdtext {font-size:11pt;}
.Heading_4 {font-weight:bold;}
.Normal_text_c {font-family:Arial;font-weight:normal;font-style:normal;font-size:9.75pt;text-decoration:none;text-transform: none;color:#000000;letter-spacing:0em;}
.Heading_1_b {font-family:'Cabin';font-weight:bold;font-style:normal;font-size:27pt;text-decoration:none;text-transform: none;color:#21212B;letter-spacing:0em;}
.TITLE {font-size:36pt;color:#FFFFFF;}
.Normal_text_d {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:15pt;text-decoration:none;text-transform: none;color:#21212B;letter-spacing:0em;}
.Heading_3_a {font-size:21pt;}
.Heading_1_c {font-family:'Open Sans';font-weight:600;font-style:normal;font-size:21pt;text-decoration:none;text-transform: none;color:#8D959C;letter-spacing:0em;}
.Heading_2_b {font-family:'Open Sans';font-weight:600;font-style:normal;font-size:15pt;text-decoration:none;text-transform: none;color:#8D959C;letter-spacing:0em;}
