@import url(https://fonts.googleapis.com/css?family=Roboto:700,regular&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,700&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Rubik:300&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Monoton:regular&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Cabin:700&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600&subset=latin);
@font-face {font-family: 'FontAwesome';font-weight:normal;font-style:normal;src: url("XaraWDGeneratedHTMLfont1.woff") format("woff"), url("XaraWDEmbeddedHTMLfont1.eot?") format("embedded-opentype"), local('FontAwesome');}
